section {
  margin: 0;
  padding: 0;
  display: grid;
  place-items: center;
  align-content: center;
 
}


/* ----------- ABOUT ME CIRCLES ----------------- */



.circle1 {
  position: absolute;
  content: "";
  height: 900px;
  width: 1100px;
  border-radius: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
  background: linear-gradient(45deg, #7f00ff, pink);
  animation: circle1 4s linear infinite;
  z-index: -1;
}

.circle2 {
  position: absolute;
  content: "";
  height: 150px;
  width: 150px;
  border-radius: 50%;
  left: calc(90% - 75px);
  top: 0%;
  transform: translate(-50%, -50%);
  background: linear-gradient(45deg, #7f00ff, pink);
  animation: circle2 4s linear infinite;
  z-index: -1;
}

.circle3 {
  position: absolute;
  content: "";
  height: 50px;
  width: 50px;
  border-radius: 50%;
  left: calc(5% - 25px);
  top: calc(60% - 25px);
  transform: translate(-50%, -50%);
  background: linear-gradient(45deg, #7f00ff, pink);
  animation: circle3 4s linear infinite;
  z-index: -1;
}

.circle4 {
  position: absolute;
  content: "";
  height: 110px;
  width: 110px;
  border-radius: 50%;
  left: calc(10% - 55px);
  top: calc(80% - 55px);
  transform: translate(-50%, -50%);
  background: linear-gradient(45deg, #7f00ff, pink);
  animation: circle2 4s linear infinite;
  z-index: -1;
}

@keyframes circle1 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25px);
  
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes circle2 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes circle3 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-25px);
  }
  100% {
    transform: translateX(0);
  }
}





/* ----------- ABOUT ME MULTITEXT ----------------- */
#aboutme{
   justify-content: center;
  text-align: center;
  align-items: center;
  padding-left: 15%;
  padding-right: 15%;
  background-image: url(../resources/pastel.avif);
  z-index: -1;
}

/*TITLE*/
.topLine{
    display: block;
    position: relative;
    font-size: 70px;
    letter-spacing: 5px;
    color: #3d535f;
    align-items: center;
    justify-content: center;
}

.topLine::after{
    position: absolute;
    content: "";
    height: 4px;
    width: 45px;
    bottom: 10px;
    background-color: #7f00ff;
}

/*TEXT TO BE TYPED*/
.multiText {
  display: inline-block;
  border-right: 0.3em solid #7f00ff;
  white-space: nowrap;
  overflow: hidden;
  font-size: 45px;
  font-weight: 900;
  color: #7f00ff;
  text-transform: capitalize;
  letter-spacing: 5px;
  bottom: 10px;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.4), 5px 5px 5px #7f00ff;
}


.text{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -25%);
  z-index: 1;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  justify-content: center;
}

h3{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;

}

.wrapper{
display: flex;
width: 100%;
height: calc(100vh - 80px);
justify-content: center;
align-items: center;
padding: 0 10%;
overflow: hidden;
position: absolute;
padding:0% ;
}




/*-------RESPONSIVE PART--------*/
@media screen and (max-width: 768px) {
  p {
    font-size: 0.9em;
    padding-left: 20%;
    padding-right: 20%;
  }

  .multiText{font-size: 100%}
#aboutme{
  justify-content: center;
  text-align: center;
  align-items: center;
}
}