section {
  display: grid;
  place-items: center;
  align-content: center;
  height: 100vh;
}


/* ----------- ABOUT ME CIRCLES ----------------- */
#aboutme {
  position: relative;
  padding-left: 10%;
  padding-right: 10%;
}

#aboutme::before {
  position: absolute;
  content: "";
  height: 350px;
  width: 350px;
  border-radius: 50%;
  left: -10%;
  top: 90%;
  background: linear-gradient(45deg, #7f00ff, pink);
  animation: circle1 4s linear infinite;
  z-index: 1; 
}

#aboutme::after {
  position: absolute;
  content: "";
  height: 150px;
  width: 150px;
  border-radius: 50%;
  left: 65%;
  top: 12%;
  background: linear-gradient(45deg, #7f00ff, pink);
  animation: circle2 4s linear infinite;
}

@keyframes circle1 {
  50% {
    left: -23%;
    top: 81%;
  }
}

@keyframes circle2 {
  50% {
    left: 55%;
    top: 10%;
  }
}

}


/* ----------- ABOUT ME MULTITEXT ----------------- */
#aboutme{
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
}
/*TITLE*/
.topLine{
    display: block;
    position: relative;
    font-size: 35px;
    letter-spacing: 5px;
    color: #3d535f;
    align-items: center;
    justify-content: center;
}

.topLine::after{
    position: absolute;
    content: "";
    height: 4px;
    width: 45px;
    bottom: 10px;
    background-color: #7f00ff;
}

/*TEXT TO BE TYPED*/
.multiText{
    display: block;
    width: 90%;
    font-size: 1.2em;
    font-weight: 900;
    color: #7f00ff;
    text-transform: capitalize;
    letter-spacing: 5px;
    bottom: 10px;
    font-size: 35px;
}

.wrapper{
display: flex;
width: 100%;
height: calc(100vh - 80px);
justify-content: center;
align-items: center;
padding: 0 10%;
overflow: hidden;
}

.wrapper::before{
  position: absolute;

}

/*-------RESPONSIVE PART--------*/
@media screen and (max-width: 768px) {
  p {
    font-size: 0.9em;
    padding-left: 20%;
    padding-right: 20%;
  }
  .multiText{font-size: smaller;}
#aboutme{
  justify-content: center;
  text-align: center;
  align-items: center;
}
}