
.contact-img img{
   max-width: 80%;
   width: 720px;
   height: auto;
   border-radius: 10px;
   padding-left: 10%;
}

.contact-form h1{
  font-size: 80px;
  margin-bottom: 20px;  
  font-family: 'Montserrat', sans-serif; 
    color: transparent;
    background: url('../resources/t.gif') repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 100%;
    animation: animated-text 7s infinite; 
}

.contact-form p{
   letter-spacing: 1px;
   line-height: 26px;
   font-size: 1.1rem;
   margin-bottom: 3.8rem; 
}

.contact-form form{
    position: relative;
}

.contact-form form input, 
form textarea{
    width: 100%;
    padding: 17px;
    border: none;
    outline: none;
    backdrop-filter: blur(21px) saturate(160%);
    -webkit-backdrop-filter: blur(11px) saturate(160%);
    background-color: rgba(3, 2, 2, 0.51);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    font-size: 1.1rem;
    margin-bottom: 0.7rem;
    border-radius: 10px;
 }

 textarea, input {
   color: white;
 }
 
 
 .contact-form textarea{
    resize: none;
    height: 100px;
 }

   /* -----------BUTTONS----------------- */
 .contact-form form .btn{
   display: inline-block;
   background: #d3aff6;
   letter-spacing: 1px;
   text-transform: uppercase;
   font-weight: 600;
   border: 2px solid transparent;
   border-radius: 10px;
   width: auto;
   color: #265b8f;
   transition: ease .20s;
   cursor: pointer;

 }

.contact-form form .btn:hover{
   display: grid;
   align-items: center;
   justify-content: center;
   margin-left: 10px;
   margin-right: auto;
   font-family: 'Times New Roman', Times, serif;
   font-weight: bold;
   color: white;
   box-shadow: 0 15px 10px #7f00ff;
background: transparent;
transform: scale(1.1);
}

 

  /* -----------RESPONSIVE----------------- */
  @media (max-width: 1570px) {
   #contactme{
      padding: 80px 3%;
      transition: .2s;
   }
 
   .contact-form p{
      margin-bottom: 3rem;
      margin-right: 3rem;
   }


}
  @media (max-width: 1090px) {
   #contactme{
      grid-gap: 2rem;
      transition: .3s;
   }
   form{
      padding-right: 5%;
   }

  }

  @media (max-width: 1000px) {
   #contactme{
      grid-template-columns: 1fr;   
   }
   .contact-form{
     order:2;
   }

   .contact-img{
      max-width: 90%;
      width: 50%;
      height: auto;
      text-align: center;
      margin-bottom: 30px;
   }
   form{
      padding-right: 12%;
   }

  }

  

  /* Mobile styles */
@media(max-width: 640px) {
textarea{
   height: 30px;
}


.contact-form form input, 
form textarea{
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
 }

 .contact-img{
   max-width: 50%;
   width: 50%;
   height: auto;
   text-align: center;
   margin-top: -10%;
}

.contact-form h1{
   font-size: 50px;
   margin-bottom: 10px;  
   margin-top: -10%;
     }
   }

     @media (max-width: 412px) {
      textarea{
         height: 20px;
      }

      .contact-form form input, 
form textarea{
    font-size: 0.5rem;
    margin-bottom: 0.1rem;
 }


 .contact-img{
   max-width: 30%;
   width: 30%;
   height: auto;
   text-align: center;
   padding-top: 40%;
}

.contact-form h1{
   font-size: 20px;
   margin-bottom: 3px;  

     }


   }