

.contact-img img{
   max-width: 100%;
   width: 720px;
   height: auto;
   border-radius: 10px;
   padding: 40px 15%;
}

.contact-form h1{
  font-size: 80px; 
  margin-bottom: 20px;  
}

.contact-form p{
   letter-spacing: 1px;
   line-height: 26px;
   font-size: 1.1rem;
   margin-bottom: 3.8rem; 
}

.contact-form form{
    position: relative;
}

.contact-form form input, 
form textarea{
    width: 100%;
    padding: 17px;
    border: none;
    outline: none;
    background: #191919;
    color: #fff;
    font-size: 1.1rem;
    margin-bottom: 0.7rem;
    border-radius: 10px;
 }
 
 .contact-form textarea{
    resize: none;
    height: 200px;
    
 }




