
/*----CV Button / Download------*/
a{
  text-decoration: none;
  color: #265b8f;
}
a:hover {
  background-color: #7f00ff;
  color: white;
}

.cv {
  position: relative;
  text-align: center;
}

.cv h2 {
  color: white;
  margin-top: 0;
  margin-bottom: 20px;
}

.cv button{ 
  font-size: 25px;
  padding: 8px 14px;
  margin: 40px 5px;
  letter-spacing: 2px;
  text-transform: capitalize;
  box-shadow: 0 15px 10px #7f00ff;
}


/*------CIRCLE BACKGROUND------*/
.circleExp{
  position: absolute;
  content: "";
  height: 450px;
  width: 450px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  align-content: center;
  text-align: center;
  background: rgb(158,224,242);
  background: linear-gradient(0deg, rgba(158,224,242,1) 25%, rgba(45,130,253,1) 100%);
  animation: circle1 4s linear infinite;
  z-index: 0;
}

#experience{
  background-image:  url(../resources/stars.gif);
  position: relative;

}


/*-------------SPACESHIP ANIMATION-------------*/
#experience #spaceship {
  width: 30%;
  animation:move 7s linear infinite;
  padding-right: 30px;
  opacity: 1;
  position:fixed;
  display: flex;
  left: 0;
  top: -20% !important;
  position: absolute;
}


@keyframes move {
  0% {
    left: 0%;
  }
  25% {
    left: 30%;

  }
  50% {
    left: 60%;
  }
  75% {
    left: 30%;
  }
  100% {
    left: 0%;
  }
}

/*-------------CODE ICONS-------------*/
.codeIcons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
}

.codeIcons img {
  animation: iconAni 7s linear infinite;
  padding-right: 30px;
  opacity: 0;
}


@keyframes iconAni{
  0%{
    transform: translateY(-90vh);
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  80%{
    opacity: 1;
  }
  100%{
    transform: translatex(0vh);
    opacity: 0;
  }
}

.codeIcons img:nth-child(1){
  animation-delay: 1s;
}
.codeIcons img:nth-child(2){
  animation-delay: 4.5s;

}
.codeIcons img:nth-child(3){
  animation-delay: 3s;
  padding-left: 55%;
}
.codeIcons img:nth-child(4){
  animation-delay: 5.5s;

}
.codeIcons img:nth-child(5){
  animation-delay: 1.5s;

}
