	#loader {
		border: 12px solid #d3aff6;
		border-radius: 50%;
		border-top: 12px solid #7f00ff;
		width: 70px;
		height: 70px;
		animation: spin 1s linear infinite;
	}
	
	@keyframes spin {
		100% {
			transform: rotate(360deg);
		}
	}
	
	.center {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}