.menu {
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
  }
  

  /*-------HAMBURGER MENU------*/
  .navigation {
    position: relative;
    align-items: center;
    transition-delay: 0.5s;
    width: 60px;
    height: 60px;
    transition: 0.5s;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
    padding-left: 10%;
  }
  
  .navigation .toggle {
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background: #7f00ff;
    transition: 0.5s;
    cursor: pointer;
    position: absolute;
    z-index: 2;
    border-radius: 50%;
    overflow: hidden;
    top: 0;
    left: 0; left: 50%;
    transform: translateX(-50%);
  }
  
.navigation .toggle::before,
.navigation .toggle::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  background: white;
  transition: 0.5s;
}

.navigation .toggle::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -8px);
}

.navigation .toggle::after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, 6px);
}


  .navigation.activate {
    width: 400px;
   
  }
  
  .navigation:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    width: 100%;
    height: 100%;
    background: #d3aff6;
    transform: scale(0);
    transform-origin: center;
    transition: transform 0.5s;
 
  }  
  
  .navigation.activate:before {
    transform: scale(1);
    border-radius: 40%;
  
  }
  
  
    /*-------TEXT TO APPEAR ON MENU------*/
    .navigation .left-text {
      position: absolute;
      top: 50%;
      left: 25%; 
      transform: translate(-50%, -50%);
      
    }
    
    .navigation .right-text {
      position: absolute;
      top: 50%;
      right:25%; 
      transform: translate(50%, -50%);
     
    }
