*{
    margin: 0;
    padding: 10;
    font-family: sans-serif;
}


#mainPage {
    width: 100%;
    height: 100vh;
    background-image: url(../resources/background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}
#aboutme {
  position: relative;
  overflow: hidden;
  height: 100vh; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#experience {
  position: relative;
  overflow: hidden;
  height: 100vh; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



#contactme {
  width: 100%;
  height: 100vh;
  background-image: url(../resources/1151428.webp);
  opacity: 90%;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.content{
    color: black;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    z-index: 1;

}

h1{
    font-size: 120px;
    margin: 10px 0 30px;
    line-height: 80px;
}

/*-------------MOUSE ICON MOVEMENT--------------*/
#mouse {
  position: fixed;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  transform: translate(-35%,0%); /* add this line to center the mouse icon */
  z-index:1;
}

#follow {
  position: absolute;
  text-align: center;
}



/* ----------- NAVBAR ----------------- */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;  
  }



  /* ----------- BUTTONS ----------------- */
  
   button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: auto;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 0 15px 10px #7f00ff;
  
  }
  button:hover {
    background-color:#7f00ff;
    color: white;
    
  }
  

button{
    color: #265b8f;
    padding: 8px 15px;
    background: transparent;
    border: 2px solid#7f00ff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 0 15px 10px #7f00ff;
    z-index: 2 !important;
}

/* ----------- BUBBLES ----------------- */
.bubbles img{
  width: 50px;
  animation: bubble 7s linear infinite;
  padding-right: 30px;
  opacity:0;
}    
.bubbles{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
}


@keyframes bubble{
  0%{
    transform: translateY(0);
    opacity: 1;
  }
  50%{
    opacity: 1;
  }
  70%{
    opacity: 0.7;
  }
  100%{
    transform: translateY(-80vh);
    opacity: 0;
  }
}

.bubbles img:nth-child(1){
  animation-delay: 1s;
}
.bubbles img:nth-child(2){
  animation-delay: 4.5s;
}
.bubbles img:nth-child(3){
  animation-delay: 3s;
}
.bubbles img:nth-child(4){
  animation-delay: 5.5s;
}
.bubbles img:nth-child(5){
  animation-delay: 2.5s;
}
.bubbles img:nth-child(6){
  animation-delay: 4s;
}
.bubbles img:nth-child(7){
  animation-delay: 7s;
}
.bubbles img:nth-child(8){
  animation-delay: 9.5s;
}
.bubbles img:nth-child(9){
  animation-delay: 1.5s;
}
.bubbles img:nth-child(10){
  animation-delay: 5.5s;
}
.bubbles img:nth-child(12){
  animation-delay: 8.5s;
}
.bubbles img:nth-child(13){
  animation-delay: 2.5s;
}



/* ----------- MAIN MENU IMAGES ----------------- */
.myself {
  width: 40%;
  height: calc(70% + 50px); /* Increase height by 50px */
  position: absolute;
  bottom: 0;
  right: 50px;
}

.myself img {
  height: calc(100% + 50px); /* Increase height by 50px */
  position: relative;
  left: -30%;
  top: 60%;
  transform: translateY(-25%);
  transition: bottom 1s;
}

.myself .shape {
  height: 120%;
  position: absolute;
  top: -10%;
  left: -16%;
  animation: animate 4s linear infinite;
  transform: translate(-50%, -50%) rotate(-35deg);
}

.myself .girl {
  height: 100%;
  position: absolute;
  top: 0%;
  left: -10%;
  transform: translate(40%, 20%);
  animation: animate 4s linear infinite;
}

.myself img {
  position: relative;
  height: calc(100% + 50px); /* Increase height by 50px */
  transform: rotateY(180deg);
  left: -10%;
}


@keyframes animate {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(10px, -10px);
  }
  100% {
    transform: translate(0, 0);
  }
}



/*-------------- Tablet styles -------------*/
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .hero {
      height: 50vh;
  }
  .navbar {
      height: 8%;
      padding: 5px;
  }
  .myself{
    padding-right: 20%;

  }
  .content h1, h3{
    top: -30%;
    left: auto; 
    position: absolute;
  }

  h1{
    font-size: 40px;

  }



}

/* Mobile styles */
@media only screen and (max-width: 575px) {
  .hero {
    height: 40vh;
  }
  
  .navbar {
    height: auto;
    padding: 5px;
  }
  
  .content h1,
  h3 {
    top: -30%;
    left: auto;
    position: absolute;
  }
  
  h1 {
    font-size: 40px;
  }
  
  h3 {
    font-size: x-small;
  }
  
  .myself {
    width: 60%;
    height: auto;
    bottom: 0;
    right: 10px;
  }

  

}
