@import url('https://fonts.cdnfonts.com/css/montserrat');

*{
    margin: 0;
    padding: 10;
    font-family: sans-serif;
}


#mainPage {
    width: 100%;
    height: 100vh;
    background-image: url(../resources/2.avif);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}
#aboutme {
  position: relative;
  overflow: hidden;
  height: 100vh; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#experience {
  position: relative;
  overflow: hidden;
  height: 100vh; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



#contactme {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-image: url(../resources/1151428.webp);
  opacity: 90%;
  background-size: cover;
  background-position: center;  
  position: relative;
  overflow: hidden;
  display:grid;
  padding: 70px 7%;
  grid-template-columns: repeat(2,2fr);
  align-items: center;
  grid-gap: 6rem; 
  z-index: 1 ;
}


/*-------------MAIN PAGE TEXT--------------*/
.content{
    font-size: 72px;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    z-index: 1;
    line-height: 0%;

}

h1{
    font-size: 120px;
    margin: 10px 0 30px;
    font-weight:900;
    line-height: 1;
    font-family: 'Montserrat', sans-serif; 
    color: transparent;
    background: url('../resources/t.gif') repeat;
    background-clip: text;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 100%;
    animation: animated-text 7s infinite;  

} /* animation in text background */
@keyframes animated-text {
    0% { background-position: 0 0; }
    100% { background-position: 100% 0; }
}

h3{
  font-size: 20px;
  margin: 10px 0 30px;
  line-height: 80px;
  font-family: 'Montserrat', sans-serif;   
  background: -webkit-linear-gradient(#8e549c, #3f2a8b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
                                           
}



/*-------------MOUSE ICON MOVEMENT--------------*/
#mouse {
  position: fixed;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  transform: translate(-35%,0%); /* add this line to center the mouse icon */
  z-index:1;
}

#follow {
  position: absolute;
  text-align: center;
}



/* ----------- NAVBAR ----------------- */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;  
  }



  /* -----------MAIN PAGE BUTTONS----------------- */
  #mainBtn {
    z-index: 3;
    position: fixed;
    top: 22px;
    right: 22px;
  }
  
  #mainBtn a {
    display: inline-block;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 13px 17px 13px;
    outline: 0;
    border: 1px solid #7f00ff;
    cursor: pointer;
    box-shadow: 0 7px 8px #7f00ff;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    position: relative;
    justify-content: space-around;
  }
  
  #mainBtn a:after {
    content: "";
    background-color: #d3aff6;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 10px;
    left: 7px;
    transition: 0.2s;
  }
  
  #mainBtn a:hover:after {
    top: 0px;
    left: 0px;
  }
  


  /* -----------BUTTONS----------------- */
  
   button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: auto;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    box-shadow: 0 15px 10px #7f00ff;
  
  }
  button:hover {
    background-color:#7f00ff;
    color: white;
    
  }

 
  


button{
    color: #265b8f;
    padding: 8px 15px;
    background: transparent;
    border: 2px solid#7f00ff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 0 15px 10px #7f00ff;
    z-index: 2 !important;
}

/* ----------- BUBBLES ----------------- */
.bubbles img{
  width: 50px;
  animation: bubble 7s linear infinite;
  padding-right: 30px;
  opacity:0;
}    
.bubbles{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
}


@keyframes bubble{
  0%{
    transform: translateY(0);
    opacity: 1;
  }
  50%{
    opacity: 1;
  }
  70%{
    opacity: 0.7;
  }
  100%{
    transform: translateY(-80vh);
    opacity: 0;
  }
}

.bubbles img:nth-child(1){
  animation-delay: 1s;
}
.bubbles img:nth-child(2){
  animation-delay: 4.5s;
}
.bubbles img:nth-child(3){
  animation-delay: 3s;
}
.bubbles img:nth-child(4){
  animation-delay: 5.5s;
}
.bubbles img:nth-child(5){
  animation-delay: 2.5s;
}
.bubbles img:nth-child(6){
  animation-delay: 4s;
}
.bubbles img:nth-child(7){
  animation-delay: 7s;
}
.bubbles img:nth-child(8){
  animation-delay: 9.5s;
}
.bubbles img:nth-child(9){
  animation-delay: 1.5s;
}
.bubbles img:nth-child(10){
  animation-delay: 5.5s;
}
.bubbles img:nth-child(12){
  animation-delay: 8.5s;
}
.bubbles img:nth-child(13){
  animation-delay: 2.5s;
}



/* ----------- MAIN MENU IMAGES ----------------- */
.myself {
  width: 40%;
  height: calc(70% + 50px);
  position: absolute;
  bottom: 0;
  right: 50px;
}

.myself img {
  height: calc(100% + 50px); /* Increase height by 50px */
  position: relative;
  left: -30%;
  top: 60%;
  transform: translateY(-25%);
  transition: bottom 1s;
}

.myself .shape {
  min-height: 80%;
  position: absolute;
  top: -10%;
  left: -20%;
  animation: animate 4s linear infinite;
  transform: translate(-50%, -50%) rotate(-35deg);
}

.myself .girl {
  min-height: 100%;
  position: absolute;
  top: 0%;
  left: -10%;
  transform: translate(40%, 20%);
  animation: animate 4s linear infinite;
}

.myself img {
  position: relative;
  height: calc(100% + 50px); /* Increase height by 50px */
  transform: rotateY(180deg);
  left: -10%;
}


@keyframes animate {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(10px, -10px);
  }
  100% {
    transform: translate(0, 0);
  }
}



/*-------------- Tablet styles -------------*/
@media only screen and (min-width: 576px) and (max-width: 867px) {
  .hero {
      height: 50vh;
  }
  .myself .shape{
    height: 20%;;
  }
  .navbar {
      height: 8%;
      padding: 5px;
  }
  .myself{
    padding-right: 20%;

  }


  h1{
    font-size: 40px;

  }
button{
  font-size: 12px;
}
.myself .shape{
  height: 50%;
    }
    .myself .girl{
      height: 50%;
        }

#mainBtn a{
  font-size: 10px;
}        

}

/* Mobile styles */
@media only screen and (max-width: 575px) {
  .hero {
    height: 40vh;
  }
  button{
    font-size: 10px;
  }
  #mainBtn a{
    font-size: 7px;
    
  }        
  
  
  .navbar {
    height: auto;
    padding: 5px;
  }
  
  
  

    }
